<div class="container text-center">
  <div class="jumbotron row">
    <div class="col-lg-12">
      <h1>What's Your Soundcloud Username?</h1>
      <p>
        <%= form_tag("/soundcloud", method: "post") do %>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <p><input type="text" name="username" class="form-control"></p>
          <button class="btn btn-lg btn-success" role="button">Get faves</button>
        <% end %>
      </p>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; yamds</p>
  </footer>

</div> 
