<div class="container text-center">
  <div class="jumbotron row">
    <div class="col-lg-12">
      <hr>
      <h1>Artists</h1>
      <hr>
      <% @shows.each do |s| %>
          <h3><%= s[:artist] %></h3>
          <h4>Tracks</h4>

          <% s[:tracks].each do |t| %>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%= t %>"></iframe>
          <% end %>

          <% if s[:events].length > 0 %>
            <h4>You Might Also Like...</h4>
            <% s[:events].each do |e| %>
              <p><%= e['title'] rescue '' %></p>
              <p><%= link_to 'Buy tix', e['ticket_url'], target: '_blank' rescue '' %></p>
            <% end %>
          <% end %>
          <hr>
        <% end %>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; yamds</p>
  </footer>

</div> 
